*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.section{
    display: flex;
    border: 1px solid gray;
    width: 350px;
    height: 70px;
}
img{
    height: 70px;
    width: 70px;
}
.text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px 0px 15px;
}
.pokemonName{
    text-transform: uppercase;
}